<h2>Add Products</h2>

<form action="/add-product" method="post" enctype="multipart/form-data">
Name: <input type="text" name="name"><br>
Price: <input type="text" name="price"><br>
Category: <input type="text" name="category"><br>
Photo: <input type="file" name="photo"><br>
<button>Save</button>
</form>